<!DOCTYPE html>
<html lang="br" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Icons -->
    <link href="css/font-awesome.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

    <title>Mercado</title>
</head>

<body ng-controller="produtoController">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-block">
                        <h3 class="card-title">{{titulo}}</h3>
                        <form class="form-horizontal" action="" method="post" ng-submit="cadastrarProduto(produto)">
                            <fieldset>
                                <!-- Nome -->
                                <div class="form-group">
                                    <label class="col-12 control-label no-padding" for="name">Nome</label>

                                    <div class="col-12 no-padding">
                                        <input ng-model="produto.nome" id="name" required name="name" type="text" placeholder="Nome do Produto" class="form-control">
                                    </div>
                                </div>

                                <!-- Codigo de barras -->
                                <div class="form-group">
                                    <label class="col-12 control-label no-padding" for="cod_barras">Código de Barras</label>

                                    <div class="col-12 no-padding">
                                        <input ng-model="produto.codigoDeBarras" required id="cod_barras" name="cod_barras" type="text" placeholder="Código de barras" class="form-control">
                                    </div>
                                </div>

                                <!-- Fabricante -->
                                <div class="form-group">
                                    <label class="col-12 control-label no-padding" for="fabricante">Fabricante</label>

                                    <div class="col-12 no-padding">
                                        <input ng-model="produto.fabricante" required id="fabricante" name="fabricante" type="text" placeholder="Fabricante do Produto" class="form-control">
                                    </div>
                                </div>

                                <!-- Categoria -->
                                <div class="form-group">
                                    <label class="col-12 control-label no-padding" for="Categoria">Categoria</label>

                                    <div class="col-12 no-padding">
                                        <input ng-model="produto.categoria" required id="categoria" name="categoria" type="text" placeholder="Categoria do Produto" class="form-control">
                                    </div>
                                </div>

                                <!-- Form actions -->
                                <div class="form-group">
                                    <div class="col-12 widget-right no-padding">
                                        <button type="submit" class="btn btn-primary btn-md float-right">Cadastrar</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card mb-4" id="listaProdutos">
                    <div class="card-block">
                        <h3 class="card-title">Produtos Recentes</h3>

                         <div class="dropdown card-title-btn-container">
                            

                            <button class="btn btn-sm btn-subtle dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <em class="fa fa-cog"></em>
                            </button>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">
                                    <em class="fa fa-search mr-1"></em> Ordenar por nome</a>
                                <a class="dropdown-item" href="#">
                                    <em class="fa fa-thumb-tack mr-1"></em> Ordenar por fabricante</a>
                                <a class="dropdown-item" href="#">
                                    <em class="fa fa-remove mr-1"></em> Ordenar por preço</a>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Identificação #</th>

                                        <th>Produto</th>

                                        <th>Fabricante</th>

                                        <th>Categoria</th>

                                        <th>Código de barras</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="produto in produtos">
                                        <td>{{produto.id}}</td>
                                        <td>{{produto.nome}}</td>
                                        <td>{{produto.fabricante}}</td>
                                        <td>{{produto.categoria}}</td>
                                        <td>{{produto.codigoDeBarra}}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Scripts Angular e outros Js
    ================================================== -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>

    <script src="js/module.js"></script>
    <script src="js/config/config.js"></script>
    <script src="js/services/produtoService.js"></script>
    <script src="js/controller/produtoController.js"></script>


    <!-- Bootstrap JavaScript
    ================================================== -->

    <script src="js/bootstrap/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="dist/js/bootstrap.min.js"></script>

    <script src="js/bootstrap/chart.min.js"></script>
    <script src="js/bootstrap/chart-data.js"></script>
    <script src="js/bootstrap/easypiechart.js"></script>
    <script src="js/bootstrap/easypiechart-data.js"></script>
    <script src="js/bootstrap/bootstrap-datepicker.js"></script>
    <script src="js/bootstrap/custom.js"></script>

</body>

</html>