<!DOCTYPE html>
<html lang="br" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Icons -->
    <link href="css/font-awesome.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

    <title>Mercado</title>
</head>

<body>

    <nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
        <h1 class="site-title">
            <a href="#/dashboard">
                <em class="fa fa-rocket"></em> Estoque</a>
        </h1>

        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
            <em class="fa fa-bars"></em>
        </a>

        <ul class="nav nav-pills flex-column sidebar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="#/dashboard" style="cursor:pointer">
                    <em class="fa fa-dashboard"></em> DashBoard
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/produto">
                    <em class="fa fa-calendar-o"></em> Produto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/lote">
                    <em class="fa fa-calendar-o"></em> Lote</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/descontos">
                    <em class="fa fa-clone"></em> Configurar Descontos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/venda">
                    <em class="fa fa-hand-o-up"></em> Venda</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="">
                    <em class="fa fa-clone"></em> Relatórios</a>
            </li>
        </ul>
    </nav>

    <!-- Bootstrap JavaScript
    ================================================== -->

    <script src="js/bootstrap/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="dist/js/bootstrap.min.js"></script>

    <script src="js/bootstrap/chart.min.js"></script>
    <script src="js/bootstrap/chart-data.js"></script>
    <script src="js/bootstrap/easypiechart.js"></script>
    <script src="js/bootstrap/easypiechart-data.js"></script>
    <script src="js/bootstrap/bootstrap-datepicker.js"></script>
    <script src="js/bootstrap/custom.js"></script>

</body>

</html>