<!DOCTYPE html>
<html lang="br" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Icons -->
    <link href="css/font-awesome.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

    <title>Mercado</title>
</head>

<body ng-controller="dashBoardController">
    <div class="container">
        <div class="row">
            <div "col-md-1">
                <div ng-include="'/templates/admin.html'"></div>
            </div>
            <div class="col-md-11">
                <main>
                    <header class="page-header row justify-center">
                        <div class="col-md-6 col-lg-8">
                            <h1 class="float-left text-center text-md-left">{{titulo}}</h1>
                        </div>

                        <div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right">
                            <a class="btn btn-stripped dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <img src="imagens/user.png" alt="profile photo" class="circle float-left profile-photo" width="50" height="auto">

                                <div class="username mt-1">
                                    <h4 class="mb-1">Leo</h4>

                                    <h6 class="text-muted">Super Admin</h6>
                                </div>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#/" ng-click="logout()">
                                    <em class="fa fa-power-off mr-1"></em> Logout</a>
                            </div>
                        </div>

                        <div class="clear"></div>
                    </header>
                </main>
            </div>
        </div>
    </div>


    <!-- Bootstrap JavaScript
    ================================================== -->

    <script src="js/bootstrap/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="dist/js/bootstrap.min.js"></script>

    <script src="js/bootstrap/chart.min.js"></script>
    <script src="js/bootstrap/chart-data.js"></script>
    <script src="js/bootstrap/easypiechart.js"></script>
    <script src="js/bootstrap/easypiechart-data.js"></script>
    <script src="js/bootstrap/bootstrap-datepicker.js"></script>
    <script src="js/bootstrap/custom.js"></script>

</body>

</html>