<!DOCTYPE html>
<html lang="br" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Icons -->
    <link href="css/font-awesome.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

    <title>Mercado</title>
</head>

<body ng-controller="loteController">

    <div class="container">
        <div class="row">
            <div "col-md-1">
                <div ng-include="'/templates/admin.html'"></div>
            </div>
            <div class="col-md-11">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-block">
                            <h3 class="card-title">{{titulo}}</h3>

                            <!-- Formulário para criar um lote -->
                            <form class="form-horizontal" ng-submit="cadastrarLote(lote)">
                                <fieldset>

                                    <div class="form-group">
                                        <label class="col-12 control-label no-padding" for="name">Produto</label>

                                        <div class="col-12 no-padding">
                                            <select class="form-control" id="categoriaProduto" ng-model="lote.produto" ng-options="produto.nome + ' ' + produto.fabricante for produto in produtos">
                                                <option value="">Selecione um produto</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-12 control-label no-padding">Número de unidades</label>

                                        <div class="col-12 no-padding">
                                            <input id="quantidade" ng-model="lote.numeroDeItens" required type="number" placeholder="Número de unidades" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-12 control-label no-padding">Data de validade</label>

                                        <div class="col-12 no-padding">
                                            <input id="validade" ng-model="lote.dataDeValidade" required type="date" placeholder="Data de validade" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-12 widget-right no-padding">
                                            <button type="submit" class="btn btn-primary btn-md float-right">Cadastrar</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Tabela com os lotes cadastrados no sistema! -->
                <div class="col-md-12">
                    <div class="card mb-4" id="listaProdutos">
                        <div class="card-block">
                            <h3 class="card-title">Lotes cadastrados</h3>

                            <div class="dropdown card-title-btn-container">


                                <button class="btn btn-sm btn-subtle dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <em class="fa fa-cog"></em>
                                </button>

                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" ng-click="ordenar('+produto.nome')">
                                        <em class="fa fa-search mr-1"></em> Ordenar por nome</a>
                                    <a class="dropdown-item" ng-click="ordenar('+numeroDeItens')">
                                        <em class="fa fa-thumb-tack mr-1"></em> Ordenar por quantidade</a>
                                    <a class="dropdown-item" ng-click="ordenar('+id')">
                                        <em class="fa fa-thumb-tack mr-1"></em> Ordenar por ID</a>
                                    <a class="dropdown-item" ng-click="ordenar('+dataDeValidade')">
                                        <em class="fa fa-remove mr-1"></em> Ordenar por validade</a>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Produto</th>
                                            <th scope="col">Número de unidades</th>
                                            <th scope="col">Data de validade</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="lote in lotes | orderBy:tipoDeOrdenacao">
                                            <td>{{lote.id}}</td>
                                            <td>{{lote.produto.nome + ' ' + lote.produto.fabricante}}</td>
                                            <td>{{lote.numeroDeItens}}</td>
                                            <td>{{lote.dataDeValidade | date:'dd-MM-yyyy'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JavaScript
    ================================================== -->

    <script src="js/bootstrap/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="dist/js/bootstrap.min.js"></script>

    <script src="js/bootstrap/chart.min.js"></script>
    <script src="js/bootstrap/chart-data.js"></script>
    <script src="js/bootstrap/easypiechart.js"></script>
    <script src="js/bootstrap/easypiechart-data.js"></script>
    <script src="js/bootstrap/bootstrap-datepicker.js"></script>
    <script src="js/bootstrap/custom.js"></script>

</body>

</html>